<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Bem vindo ao LabelBlog!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="text-center">
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci qui architecto aspernatur provident vero inventore velit doloremque, dolore quibusdam! Voluptas, eos! Saepe asperiores quae minima, fuga cupiditate unde itaque accusantium?
      </p>
    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink='/feed'>Feed</button>
    </div>
  </div>
</div>
